version: '3.8'

services:
  bot:
    build: .
    container_name: telegram_bot_container
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - .:/app
    ports:
      - '8000:8000'
    command: uvicorn src.main:app --host 0.0.0.0 --port 8000 --reload
